<% include partials/header %>

<h1> This is the Bike Routes Page </h1>

<% bikeroutes.forEach(function(bikeroute){ %>
    <div>
        <h4><%= bikeroute.title %></h4>
        <img src= "<%= bikeroute.image %>" >
    </div>
<% }); %>


<% include partials/footer %>