<% include partials/header %>

<div class="container">
    <h1>show template</h1>

    <p><%=bikeroute.title%></p>

    <img src= "<%=bikeroute.image%>">

    <p><%=bikeroute.description%></p>

</div>
<% include partials/footer %>